#read {
    color: green;
}

#unread {
    color: red;
}

a {
    color: hotpink;
}

#critical {
    color: purple;
}

#high {
    color: red;
}

#medium {
    color: orange;
}

#low {
    color: yellow;
}

#information {
    color: grey;
}