#read {
    color: green;
}

#unread {
    color: red;
}

a {
    color: hotpink;
}

#critical {
    color: purple;
}

#high {
    color: rgb(182, 5, 5);
}

#medium {
    color: darkorange;
}

#low {
    color: rgb(151, 110, 5);
}

#information {
    color: rgb(97, 96, 96);
}